<form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <input placeholder="User Name" formControlName="username">
  <!-- <input placeholder="First Name" formControlName="firstname">
  <input placeholder="Last Name" formControlName="lastname"> -->
  <input type="email" placeholder="Email" formControlName="email">
  <input type="password" placeholder="Password" formControlName="password">
  <!-- <input type="password" placeholder="Confirm Password"> -->
  <br>
  <button>Register</button>
</form>

<div>
  <p> <a routerLink="/login" routerLinkActive="active">Login</a></p>
</div>
