<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">User Name</label>
						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username" formControlName="username">
          </div>
          <div class="form-group">
						<label for="reg_firstName" class="sr-only">First Name</label>
						<input type="text" class="form-control" id="reg_firstname" name="reg_firstname" placeholder="fisrtname" formControlName="first_name">
          </div>
          <div class="form-group">
						<label for="reg_lastName" class="sr-only">Last Name</label>
						<input type="text" class="form-control" id="reg_lastname" name="reg_lastname" placeholder="lastname" formControlName="last_name">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password" formControlName="password">
					</div>
					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email" formControlName="email">
          </div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a routerLink="/login" routerLinkActive="active">Login</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
